/* ROOT */

:root {
    --logo-color: #594839;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.text-color-logo {
    color: var(--logo-color);
}

/* Custom CSS for your header */
#language-bar {
    justify-content: space-between;
    height: 40px;
    max-width: 200px;
    margin: auto;
    text-decoration: none;
    padding: 0;
}

#language-bar a {
    padding: 0 4px 6px;
    color: #594839;
}

#language-bar a:hover {
    text-decoration: none;
}

.active-lang {
    border: #594839 1px solid;
    border-radius: 4px;
}

.custom-d-flex {
    display: flex;
}

.language-option {
    cursor: pointer;
}

.language-option:hover {
    text-decoration: underline;
}

/* This is for the Hamburger Menu */

/* Center-align the items in the navbar */
.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--logo-color);
}

/* Change background color on hover */
.navbar-nav .nav-item:hover {
    background-color: #a1a1a1;
    /* Change to your desired hover color */
}

/* Change color of nav links on hover */
.navbar-nav .nav-item:hover .nav-link {
    color: var(--logo-color);
    /* Change to your desired link color on hover */
}

/* Add padding to the navbar items to separate them */
.navbar-nav .nav-item {
    margin-right: 10px;
    /* Adjust the value to your desired spacing */
}

#navbarNav {
    max-width: 500px;
}

@media (max-width: 767px) {
    #navbarNav {
        margin: auto;
    }
}

.nav-item {
    border-radius: 5px;
}

.navbar-collapse {
    margin-left: 30px;
}

.navbar-toggler {
    border: 2px solid var(--logo-color);
}

.navbar-toggler-icon::before {
    border-color: var(--logo-color);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2889, 72, 57, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 600) {

    /* Customize the breakpoint for the navbar to collapse */
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
    }

    .navbar-expand-lg .navbar-toggler-icon {
        display: none;
    }
}

main {
    flex: 1;
    margin-top: 56px;
}

#home,
#who-we-are {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 700px;
    display: flex;
    justify-content: center;
    /* Horizontally center content */
    align-items: center;
    /* Vertically center content */
    text-align: center;
    /* Optionally, to center text within the container */
}

.video-container {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    /* 16:9 aspect ratio (9 / 16 * 100%) */
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay {
    width: 100%;
    padding: 0 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* Ensure the overlay is above the video */
    text-align: center;
    color: white;
}

.video-overlay h1 {
    font-size: clamp(36px, 6.5vw, 60px);
}

.video-overlay p,
.video-overlay a {
    font-size: clamp(24px, 2.5vw, 32);
}

@media (max-width: 400px) {
    .video-overlay p {
        display: none;
    }
}

/* About section of home page */

#about {
    position: relative;
}

#about::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('./media/logos/RBA.png');
    background-size: contain;
    /* Adjust as needed */
    background-position: center;
    /* Adjust as needed */
    background-repeat: no-repeat;
    padding: 20px;
    /* Add padding to separate content from the background */
    filter: grayscale(100%);
    opacity: 0.1;
    z-index: -1;
    padding: 50px;
}

#about .container {
    position: relative;
}

/* home page, partners section */



/* about page */

section h2 {
    text-align: center;
    padding-bottom: 20px;
}


#who-we-are {
    margin-top: -72px;
}

#contactIcons {
    width: 98vw;
    max-width: 600px;
    margin: auto;
}

#contactForm {
    width: 98vw;
    max-width: 600px;
    margin: auto;
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.mySlides {
    display: block;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(15, 15, 15);
    font-size: clamp(36px, 6.5vw, 60px);
}